<div class="single-sidebar-widget p-30">

	<div class="section-heading">
		<h5>Ақпараттық бюллетень</h5>
	</div>
	<div class="newsletter-form">
		<p>Жаңа жаңартулар, ақпараттық жеңілдіктер және т. б. туралы хабарландыру алу үшін біздің ақпараттық бюллетеньге жазылыңыз.</p>
		<form action="" method="get">
			<input type="search" name="widget-search" placeholder="Электрондық пошта мекенжайын енгізіңіз">
			<button type="submit" class="btn mag-btn w-100">Жазылу</button>
		</form>
	</div>
</div>